@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

hr {
    opacity: .2;
    border-top: #FFFFFF00;
    margin: 0;
}