:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "main-post reg-post";
    margin: 2.5rem 0;
}

.main-post {
    grid-area: "main-post";
    margin-right: 1.25rem;
}

.regular-post {
    grid-area: "reg-post";
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}