* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    max-width: 940px;
    margin: 2rem auto;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}