@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* –––––––––– Colors by type –––––––––––– */

.fire {
    background-color: #f28b3d;
}

.normal {
    background-color: #A8A77A;
}

.water {
    background-color: #789eef;
}

.electric {
    background-color: #f6cf37;
}

.grass {
    background-color: #66c87a;
}

.ice {
    background-color: #88d2ce;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #a34ba1;
}

.ground {
    background-color: #ecc76a;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #f56993;
}

.bug {
    background-color: #adbd39;
}

.rock {
    background-color: #b7a54c;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #8151f9;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #babadc;
}

.fairy {
    background-color: #f393c3;
}

/* –––––––––– Colors by type –––––––––––– */

html {
    background-image: url(../img/background.jpg);
    background-position: bottom;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f7f7e5;
    border: 0px solid black;
    border-radius: 1.5rem;
    box-shadow: .3rem .3rem .5rem rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: calc(100vh - 2rem);
    margin: 1rem auto;
    max-width: 800px;
    overflow-y: auto;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header button {
    background-color: inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    margin: 0;
    padding: .35rem;
    transition: background-color .25s;
}

header button:hover, header nav:hover {
    background-color: #80808020;
}

header img {
    width: 1.5rem;
}

header nav {
    background-color: inherit;
    border-radius: 50%;
    cursor: pointer;
    height: fit-content;
    padding: .52rem;
    transition: background-color .25s;
}

.menu-bar {
    background-color: #525253;
    border-radius: .1rem;
    display: block;
    height: .15rem;
    margin: .20rem 0;
    width: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

main h1 {
    color: #525253;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -.2px;
    text-shadow: 1px 1px 2px #5252532e;
}

main > ol {
    align-content: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: calc(80vh - 180px);
    margin: 1.5rem 0;
    overflow-y: auto;
    padding-bottom: 4px;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #d6dee1;
    border: 6px solid transparent;
    border-radius: 18px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.card {
    border-radius: 1em;
    box-shadow: 2px 2px 4px #52525396;
    color: #FFF;
    cursor: pointer;
    font-size: .75em;
    font-size: min(2vw, 16px);
    height: 4.5em;
    height: 5.7em;
    padding: .75em 1em;
    position: relative;
}

.card h2 {
    display: inline-block;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: .35em;
    text-shadow: .5px .5px 1px #ffffff41;
    text-transform: capitalize;
}

.card span {
    color: #525253;
    display: block;
    font-weight: 900;
    letter-spacing: -.5px;
    opacity: .35;
    text-align: right;
    text-shadow: .5px .5px 1px #52525310;
    font-size: .9em;
}

.card li {
    border-radius: 1em;
    filter: brightness(1.1);
    font-size: .6em;
    font-weight: 700;
    margin: .4em 0;
    padding: .25em .6em;
    text-transform: capitalize;
    width: fit-content;
    box-shadow: .1em .1em .1em #0001;
}

.card img {
    bottom: .75em;
    max-height: 4.5em;
    position: absolute;
    right: .75em;
    width: 38%;
}

main > button {
    align-self: center;
    background-color: #6C7ADC;
    border: none;
    border-radius: .6rem;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    padding: .5rem .75rem;
    transition: all .5s;
    user-select: none;
}

main > button:hover {
    box-shadow: .2rem .2rem .2rem #0004;
    filter: brightness(1.05);
    transform: scale(1.05);
}

main > button:active {
    box-shadow: .1rem .1rem .1rem #0004;
    filter: brightness(1);
    transform: scale(1.02);
}

.disable {
    filter: grayscale(1);
    pointer-events: none;
}

footer {
    font-size: .7rem;
    font-weight: 700;
    padding: .5rem;
    text-align: center;
    text-shadow: .5px .5px 1px #ffffff41;
}

@media (max-width: 700px) {
    main > ol {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        font-size: 2.4vw;
    }
}

@media (max-width: 530px) {
    main > ol {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        font-size: 3.5vw;
    }
}

@media (max-width: 370px) {
    main > ol {
        grid-template-columns: 1fr;
    }

    .card {
        font-size: 7vw;
    }
}
