<a href="#">
    <img src="assets/images/angular-logo.svg" alt="Angular logo">
</a>
<nav>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/posts">Posts</a></li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</nav>
<div>
    <ul>
        <li><img src="assets/images/twitter.svg" alt="Twitter/X logo"></li>
        <li><img src="assets/images/instagram.svg" alt="instagram logo"></li>
        <li><img src="assets/images/linkedin.svg" alt="LinkedIn logo"></li>
        <li><img src="assets/images/github.svg" alt="Github logo"></li>
    </ul>
</div>