a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

span {
    font-size: .7rem;
    opacity: .4;
    margin: .6rem 0;
}

h2 {
    font-size: 1.7rem;
    font-weight: 600;
    opacity: .8;
    line-height: 2.2rem;
    margin-bottom: .6rem;
}

p {
    opacity: .5;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: .95rem;
}