<article>
    <a href="#">
        <img src="https://www.dwinawan.com/blog/thumb_article41.jpg" alt="Example image"> 
        <span>July 17, 2023</span>
        <h2>Menggunakan bold typography pada desain website</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, dicta minima. Error itaque aperiam quod atque quidem distinctio, architecto facilis nobis officiis pariatur, quis perferendis tempore quas beatae qui ex! placeat corporis soluta et. Iste minima fuga dicta? </p>
    </a>
</article>